<ion-header>
  <ion-toolbar color="primary">
    <img src="../../assets/img/logo-hommy-inverse.png" slot="start" alt="logo Hommy"/>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide class="carousel">
      <img src="../../assets/img/vizinhos.jpg" alt=""/>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/residencia2.jpg" alt=""/>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/residencia3.jpg" alt=""/>
    </ion-slide>
  </ion-slides>

  <h1 class="title"> Hommy </h1>
  <h4 class="subtitle"> Mi republica es tu republica </h4>

  <ion-item id="search">
    <ion-searchbar placeholder="Buscar" clearInput></ion-searchbar>
  </ion-item>

  <ion-card color="primary" *ngFor="let republica of republicas" >
    <img [src]=republica.img alt=""/>
    <ion-card-header>
      <ion-card-title>{{republica.nome}}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="location-outline"></ion-icon>{{republica.endereco}} 
      </ion-card-subtitle>
      <h2>R${{republica.preco}}</h2>
    </ion-card-header>
    <ion-card-content>{{republica.descricao}}</ion-card-content>
    <ion-button color="success">
      <ion-icon name="information-circle-outline"></ion-icon>Ver mais
    </ion-button>
    <ion-button color="danger">
      <ion-icon name="heart-outline"></ion-icon>Favoritar
    </ion-button>
  </ion-card>

</ion-content>
