
.carousel {
    margin-top: 50px;;
}

.title, .subtitle {
    font-family: fantasy;
    font-size: 2em;
    text-align: center;
}

.subtitle {
    font-size: 1.4em; ;
}

#search {
    margin-top: 70px;
}

ion-card ion-card-title {
    margin-top: 10px;
}

ion-card ion-card-subtitle {
    margin-top: 5px;
}

ion-card ion-button {
    margin: 5% 8%;
}